services:
  development:
    container_name: devcontainer
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ..:/workspace:cached
    command: ["sleep", "infinity"]
    networks:
      - development-network
    environment:
      AWS_ACCESS_KEY_ID: test
      AWS_SECRET_ACCESS_KEY: test
      AWS_REGION: us-east-1

networks:
  development-network:
    driver: bridge